<material-card>
  <material-card-title>
    <material-card-title-text>
      <span class="material-headline" ng-bind="$entityCtrl.entity.name"></span>
      <span class="material-subhead">Кол-во кармы: {{$entityCtrl.entity.karma}}</span>
    </material-card-title-text>
    <material-card-title-media ng-if="$entityCtrl.entity.icon">
      <div class="material-media-med">
        <img ng-src="data:image/png;base64,{{$entityCtrl.entity.icon}}" alt=""/>
      </div>
    </material-card-title-media>
  </material-card-title>
  <material-card-content>
    <p ng-bind="$entityCtrl.entity.description"></p>
  </material-card-content>
  <material-card-actions>
    <material-button class="material-icon-button"
                     title="Редактировать достижение"
                     ng-click="$entityCtrl.editEntity()">
      <i class="material-icons">edit</i>
    </material-button>
    <material-button class="material-icon-button material-button--red"
                     title="Удалить достижение"
                     ng-click="$entityCtrl.deleteEntity($event)">
      <i class="material-icons">delete</i>
    </material-button>
  </material-card-actions>
</material-card>
