.material-button {
  display: inline-block;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  &[disabled] {
    @extend .disabled
  }

  &:hover {
    background-color: $color-grey-light;
  }

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &.ng-hide, &.ng-leave {
    transition: none;
  }

  &.material-cornered {
    border-radius: 0;
  }

  &.material-icon {
    padding: 0;
    background: none;
  }

  &.material-icon-button {
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
  }

  &:not([disabled]) {
    &.material-raised, &.material-raised.material-focused {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

      &:active {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.material-icon-button material-icon {
    display: block;
  }
}

.material-button-group {
  display: flex;
  flex: 1;
  width: 100%;

  > .material-button {
    flex: 1;
    display: block;
    overflow: hidden;
    width: 0;
    border-width: 1px 0 1px 1px;
    border-radius: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 2px 2px 0;
    }
  }
}

@media screen and (-ms-high-contrast: active) {
  .material-button {
    &.material-raised {
      border: 1px solid #fff;
    }
  }
}
