loader-spinner {
  .spinner_wrapper {
    display: block;
    position: static;

    .load_procs {
      position: absolute;
      z-index: 9999;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      text-align: center;

      &:before,
      .round_loader {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      &:before {
        content: '';
        height: 100%;
        width: 0;
      }

      .round_loader {
        margin: 0;

        ellipse {
          fill: none;
          stroke: #0f3a9d;
          stroke-width: 4px;
          stroke-dasharray: 160;
          stroke-dashoffset: 160px;
          transform: rotateZ(0deg);
          transform-origin: center;
          animation: round_loader 1.5s linear infinite;
        }
      }

      &.full-screen-spinner_overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 99999;
        display: flex;
        align-items: center;
        justify-content: center;

        .loader,
        .loader:after {
          border-radius: 50%;
          width: 10em;
          height: 10em;
        }

        .loader {
          margin: 60px auto;
          font-size: 10px;
          position: relative;
          text-indent: -9999em;
          border: 1.1em solid rgba(15, 58, 157, 0.2);
          border-left-color: #0f3a9d;
          transform: translateZ(0);
          animation: load8 1.1s infinite linear;
        }

        @keyframes load8 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }

          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  @keyframes round_loader {
    to {
      stroke-dashoffset: -160;
      transform: rotateZ(360deg);
    }
  }
}
