achievement-card, user-card {
  &.active {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  material-card {
    opacity: 1;
    background: white;
  }

  .active-background {
    @include active-background($card-active-animation-duration)
  }
}
