
.achievements, .users {
  &--no-scroll {
    overflow: hidden;
  }

  &-new-card {
    @include switching-cards-classes("achievement-card", "material-card");
    @include switching-cards-classes("user-card", "material-card");

    display: flex;
    align-items: flex-start;
    justify-content: center;

    material-card {
      width: 600px;
    }
  }

  .achievements-cards, .users-cards {
    position: relative;

    .achievements-card, .users-card {
      @include ng-repeat-animations;
      @include material-active-card-to-top;
    }

    .empty-state {
      @include empty-state(600px);
    }
  }
}

material-content {
  &.achievements, &.users, &.entity {
    padding: 50px 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filters-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;

    input {
      width: 100%;
      height: 40px;
      background: $color-grey-light;
      color: $color-grey-dark;
      padding: 5px;
      border: 2px solid $color-grey-normal;
      border-radius: 3px;
      outline: none;
    }

    i.material-icons {
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      margin-right: 10px;
      outline: none;
    }
  }

  .filters-checkboxes {
    flex-shrink: 0;
  }
}
