$card-active-animation-duration: 0.25s;

@keyframes material-card-to-top {
  from {
    width: 100%;
    margin: 0 auto;
  }
  to {
    width: 500px;
    margin: 0 auto;
    z-index: 300;
    transform: translateY(-20%);
  }
}

.achievements, .users {
  &--no-scroll {
    overflow: hidden;
  }

  &-new-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    material-card {
      width: 600px;
    }
  }

  .achievements-new-card, .users-new-card {
    @include switching-cards;
  }

  .achievements-cards, .users-cards {
    position: relative;

    .achievements-card, .users-card {
      material-card {
        &.active {
          position: relative;
          display: flex;
          cursor: default;
          background: #FFF;
          border-radius: 0.125em;
          box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.3);
          animation: $card-active-animation-duration material-card-to-top;
          animation-timing-function: linear;
          animation-fill-mode: forwards;

          &.ng-leave {
            animation: $card-active-animation-duration material-card-to-top;
            animation-timing-function: linear;
            animation-direction: reverse;
            animation-fill-mode: forwards;
          }
        }

        &:not(.active) {
          &.ng-enter {
            animation: $card-active-animation-duration material-card-to-top;
            animation-timing-function: linear;
            animation-direction: reverse;
          }
        }
      }
    }

    .empty-state {
      @include empty-state(600px);
    }
  }
}

material-content {
  &.achievements, &.achievement, &.users, &.user {
    padding: 50px 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filters-input {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      height: 40px;
      max-width: 400px;
      background: $color-grey-light;
      color: $color-grey-dark;
      padding: 5px;
      border: 2px solid $color-grey-normal;
      border-radius: 3px;
      outline: none;
    }

    i.material-icons {
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      margin-right: 10px;
      outline: none;
    }
  }

  .filters-checkbox {

  }
}
