<material-content class="achievements"
                  ng-class="{'achievements--no-scroll': achievementsCtrl.achievements.hasActive()}">
  <h3 class="material-display-1">Все достижения</h3>
  <div class="achievements-new-card">
    <material-card ng-if="!achievementsCtrl.isCardAdding">
      <material-card-title ng-click="achievementsCtrl.openAddingCard()"
                           ng-class="{'clickable': !achievementsCtrl.isCardAdding}">
        <material-card-title-text>
          <span class="material-headline"><i class="material-icons">add</i>Новое достижение</span>
        </material-card-title-text>
      </material-card-title>
    </material-card>
    <achievement-card ng-if="achievementsCtrl.isCardAdding"
                      achievement="achievementsCtrl.newAchievement"
                      save-achievement="achievementsCtrl.saveNewAchievement(achievement, $event)"
                      close-achievement="achievementsCtrl.closeAddingCard()"></achievement-card>
  </div>
  <div class="achievements-cards">
    <div class="filters">
      <div class="filters-input">
        <input ng-model="filters.nameValue"
               placeholder="Поиск"
               ng-model-options="{ debounce: 1000 }">
        <i class="material-icons clickable"
           ng-show="filters.nameValue.length"
           ng-click="filters.nameValue=''">clear</i>
      </div>
      <div class="filters-checkboxes">
        <div class="material-checkbox">
          <input id="archived"
                 type="checkbox"
                 ng-model="filters.archivedValue"
                 ng-model-options="{ debounce: 1000 }"
                 ng-true-value="'ALL'"
                 ng-false-value="'0'"
                 ng-change="achievementsCtrl.showArchived(filters.archivedValue)">
          <label for="archived">Показать архивные</label>
        </div>
      </div>
    </div>
    <div class="achievements-card"
         ng-repeat="achievement in filtered = (achievementsCtrl.achievements.cards | archivedName:filters | orderBy:'obj.name') track by achievement.obj.id">
      <achievement-card
        ng-if="achievement.$active"
        ng-class="{'active': achievement.$active}"
        active="achievement.$active"
        achievement="achievement.objCopy"
        save-achievement="achievementsCtrl.saveAchievement(achievement, $event)"
        close-achievement="achievement.closeEditingAchievement($event)"></achievement-card>
      <material-card
        ng-if="!achievement.$active">
        <material-card-title>
          <material-card-title-text>
            <span class="material-headline" ng-bind="achievement.obj.name"></span>
            <span class="material-subhead">Кол-во кармы: {{achievement.obj.karma}}</span>
          </material-card-title-text>
          <material-card-title-media>
            <div class="material-media-med">
              <img ng-src="data:image/png;base64,{{achievement.obj.icon}}" alt="Изображение отсутствует"/>
            </div>
          </material-card-title-media>
        </material-card-title>
        <material-card-content>
          <p ng-bind="achievement.obj.description"></p>
        </material-card-content>
        <material-card-actions>
          <material-button class="material-icon-button material-button--green"
                           title="Просмотреть информацию о достижении"
                           ng-click="achievementsCtrl.goToAchievement(achievement.obj.id)">
            <i class="material-icons">info</i>
          </material-button>
          <material-button class="material-icon-button"
                           title="Редактировать достижение"
                           ng-click="achievementsCtrl.editAchievement(achievement)">
            <i class="material-icons">edit</i>
          </material-button>
          <span ng-switch="achievement.obj.archived">
            <span ng-switch-when="true">
              <material-button class="material-icon-button material-button--green no-animate"
                               title="Восстановить достижение"
                               ng-click="achievementsCtrl.restoreAchievement(achievement, $event)">
                <i class="material-icons">undo</i>
              </material-button>
            </span>
            <span ng-switch-default>
              <material-button class="material-icon-button material-button--red no-animate"
                               title="Удалить достижение"
                               ng-click="achievementsCtrl.deleteAchievement(achievement, $event)">
                <i class="material-icons">delete</i>
              </material-button>
            </span>
          </span>
        </material-card-actions>
      </material-card>
    </div>
    <div class="empty-state" ng-if="!achievementsCtrl.achievements.cards.length">
      <h3 class="header">
        <i class="material-icons">error_outline</i>Нет достижений. Можете добавить их через форму сверху.
      </h3>
    </div>
    <div class="empty-state" ng-if="achievementsCtrl.achievements.cards.length && !filtered.length">
      <h3 class="header">
        <i class="material-icons">error_outline</i>Отсутствуют достижения, удовлетворяющие выбранным критериям.
      </h3>
    </div>
  </div>
</material-content>
