<material-card ng-class="{'active': $ctrl.active}">
  <material-card-title>
    <material-card-title-text>
      <span class="material-headline">Пользователь</span>
    </material-card-title-text>
    <material-card-title-media>
      <div class="material-media-lg">
        <img ng-src="data:image/png;base64,{{$ctrl.user.photo}}" alt="Изображение отсутствует"/>
      </div>
    </material-card-title-media>
  </material-card-title>
  <material-card-content>
    <form name="userForm">
      <material-input-container>
        <input required
               ng-model="$ctrl.user.name">
        <label>ФИО</label>
      </material-input-container>
      <material-input-container>
        <textarea required
                  ng-model="$ctrl.user.bio"></textarea>
        <label>Биография</label>
      </material-input-container>
      <material-input-container ng-init="iconImg = null">
        <input type="file"
               accept="image/*"
               ng-model="iconImg"
               base-sixty-four-input>
        <label>Иконка</label>
      </material-input-container>
    </form>
  </material-card-content>
  <material-card-actions>
    <material-button type="submit"
                     ng-disabled="!userForm.$valid"
                     ng-click="$ctrl.saveUser({user: $ctrl.user, $event: $event})">
      Сохранить
    </material-button>
    <material-button type="reset"
                     ng-click="$ctrl.closeUser({$event: $event})">
      Закрыть
    </material-button>
  </material-card-actions>
</material-card>
<div class="active-background ng-hide"
     ng-show="$ctrl.active"></div>
