$material-checkbox-margin: 16px 0;
$material-checkbox-checked-color: rgb(51, 122, 183);
$material-checkbox-border-color: rgba(0, 0, 0, 0.54);
$material-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$material-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$material-checkbox-size: 20px;
$material-checkbox-padding: 4px;

$material-checkmark-width: 2px;
$material-checkmark-color: #fff;

.material-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;

  &:active > input {
    opacity: 1;
    transform: scale(0);
    transition: opacity 0s, transform 0s;
  }

  > {
    input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
      z-index: -1;
      left: -15px;
      top: -15px;
      display: block;
      margin: 0;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      background-color: $material-checkbox-checked-color-disabled;
      outline: none;
      opacity: 0;
      transform: scale(1);
      -ms-transform: scale(0);
      transition: opacity 0.5s, transform 0.5s;

      &:checked {
        background-color: $material-checkbox-checked-color;

        + label {
          &:before {
            border-color: $material-checkbox-border-color;
            background-color: $material-checkbox-checked-color;
          }

          &:after {
            border-color: #fff;
          }
        }

        &:disabled {
          + label:before {
            border-color: $material-checkbox-border-color-disabled;
            background-color: $material-checkbox-checked-color-disabled;
          }
        }

        &:active {
          + label:before {
            border-color: $material-checkbox-border-color-disabled;
            background-color: $material-checkbox-checked-color-disabled;
          }
        }
      }

      &:active + label:before {
        border-color: $material-checkbox-border-color;
      }

      &:disabled {
        opacity: 0;
        cursor: initial;

        + label {
          cursor: initial;

          &:before {
            border-color: $material-checkbox-border-color-disabled;
          }
        }
      }
    }

    label {
      &:before {
        content: "";
        display: inline-block;
        margin-right: 15px;
        border: solid 2px rgba(0, 0, 0, 0.42);
        border-radius: 2px;
        width: 14px;
        height: 14px;
        vertical-align: -4px;
        transition: border-color 0.5s, background-color 0.5s;
      }

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 10px;
        border: solid 2px transparent;
        border-left: none;
        border-top: none;
        transform: translate(5.5px, 1px) rotate(45deg);
        -ms-transform: translate(5.5px, 2px) rotate(45deg);
      }
    }
  }
}
