<material-content class="achievement">
  <div class="achievement-info">
    <material-card ng-if="!achievementCtrl.achievement.$active">
      <material-card-title>
        <material-card-title-text>
          <span class="material-headline" ng-bind="achievementCtrl.achievement.name"></span>
          <span class="material-subhead">Кол-во кармы: {{achievementCtrl.achievement.karma}}</span>
        </material-card-title-text>
        <material-card-title-media ng-if="achievementCtrl.achievement.icon">
          <div class="material-media-med">
            <img ng-src="data:image/png;base64,{{achievementCtrl.achievement.icon}}" alt=""/>
          </div>
        </material-card-title-media>
      </material-card-title>
      <material-card-content>
        <p ng-bind="achievementCtrl.achievement.description"></p>
      </material-card-content>
      <material-card-actions>
        <material-button class="material-icon-button"
                         title="Редактировать достижение"
                         ng-click="achievementCtrl.editAchievement()">
          <i class="material-icons">edit</i>
          <div>
            <input ng-model="achievementCtrl.achievement.comment">
          </div>
        </material-button>
        <material-button class="material-icon-button material-button--delete"
                         title="Удалить достижение"
                         ng-click="achievementCtrl.deleteAchievement($event)">
          <i class="material-icons">delete</i>
        </material-button>
      </material-card-actions>
    </material-card>
    <achievement-card
      ng-if="achievementCtrl.achievement.$active"
      achievement="achievementCtrl.achievementCopy"
      save-achievement="achievementCtrl.saveAchievement(achievement, $event)"
      close-achievement="achievementCtrl.closeEditingAchievement($event)"></achievement-card>
  </div>
  <div class="achievement-users">
    <material-tabs>
      <input type="radio"
             name="tab"
             id="{{achievementCtrl.tabs.ACHIEVED}}"
             ng-value="achievementCtrl.tabs.ACHIEVED"
             ng-model="selectedTab"
             checked>
      <material-tab>
        <label class="material-tab-label" for="{{achievementCtrl.tabs.ACHIEVED}}">Награжденные пользователи</label>
        <material-tab-content ng-if="selectedTab === achievementCtrl.tabs.ACHIEVED">
          <material-card
            ng-repeat="userAchievement in achievementCtrl.users | orderBy:'date' track by userAchievement.id"
            ng-if="userAchievement.user">
            <material-card-title>
              <material-card-title-text>
                <span class="material-headline" ng-bind="userAchievement.user.name"></span>
                <span class="material-subhead" ng-bind="userAchievement.date | date:'dd/MM/yyyy hh:mm:ss'"></span>
              </material-card-title-text>
              <material-card-title-media ng-if="userAchievement.user.photo">
                <div class="material-media-med">
                  <img ng-src="data:image/png;base64,{{userAchievement.user.photo}}" alt=""/>
                </div>
              </material-card-title-media>
            </material-card-title>
            <material-card-content>
              <p ng-bind="userAchievement.comment"></p>
            </material-card-content>
            <material-card-actions>
              <material-button class="material-icon-button"
                               title="Лишить пользователя достижения"
                               ng-click="achievementCtrl.toggleAchievement(userAchievement, false)">
                <i class="material-icons">star</i>
              </material-button>
              <material-button class="material-icon-button material-button--info"
                               title="Просмотреть информацию о пользователе"
                               ng-click="achievementCtrl.goToUser(userAchievement.user.id)">
                <i class="material-icons">info</i>
              </material-button>
            </material-card-actions>
          </material-card>
        </material-tab-content>
      </material-tab>
      <input type="radio"
             name="tab"
             id="{{achievementCtrl.tabs.OTHERS}}"
             ng-value="achievementCtrl.tabs.OTHERS"
             ng-model="selectedTab">
      <material-tab>
        <label class="material-tab-label" for="{{achievementCtrl.tabs.OTHERS}}">Остальные пользователи</label>
        <material-tab-content ng-if="selectedTab === achievementCtrl.tabs.OTHERS">
          <material-card
            ng-repeat="user in achievementCtrl.users | orderBy:'date' track by user.id"
            ng-if="user">
            <material-card-title>
              <material-card-title-text>
                <span class="material-headline" ng-bind="user.name"></span>
                <span class="material-subhead" ng-bind="date | date:'dd/MM/yyyy hh:mm:ss'"></span>
              </material-card-title-text>
              <material-card-title-media ng-if="user.photo">
                <div class="material-media-med">
                  <img ng-src="data:image/png;base64,{{user.photo}}" alt=""/>
                </div>
              </material-card-title-media>
            </material-card-title>
            <material-card-content>
              <p ng-bind="user.bio"></p>
            </material-card-content>
            <material-card-actions>
              <div class="comment-input" ng-if="user.userAchievement">
                <form name="userAchievementForm">
                  <material-input-container>
                    <input required
                           ng-model="user.userAchievement.comment">
                    <label>Введите комментарий:</label>
                  </material-input-container>
                  <material-button class="material-icon-button"
                                   type="submit"
                                   ng-disabled="!userAchievementForm.$valid"
                                   title="Присвоить достижение"
                                   ng-click="achievementCtrl.saveUserAchievement(user.userAchievement)">
                    <i class="material-icons">done</i>
                  </material-button>
                  <material-button class="material-icon-button"
                                   type="reset"
                                   title="Отменить присвоение"
                                   ng-click="user.userAchievement = null">
                    <i class="material-icons">clear</i>
                  </material-button>
                </form>
              </div>
              <material-button class="material-icon-button"
                               title="Дать пользователю достижение"
                               ng-if="!user.userAchievement"
                               ng-click="achievementCtrl.toggleAchievement(user, true)">
                <i class="material-icons">star_border</i>
              </material-button>
              <material-button class="material-icon-button material-button--info"
                               title="Просмотреть информацию о пользователе"
                               ng-click="achievementCtrl.goToUser(user.id)">
                <i class="material-icons">info</i>
              </material-button>
            </material-card-actions>
          </material-card>
        </material-tab-content>
      </material-tab>
      <div class="slide"></div>
    </material-tabs>
  </div>

</material-content>
