<material-content class="achievement">
  <div class="achievement-info switching-cards" ng-switch="achievementCtrl.achievement.$active">
    <achievement-card
      ng-switch-when="true"
      achievement="achievementCtrl.achievementCopy"
      save-achievement="achievementCtrl.saveAchievement(achievement, $event)"
      close-achievement="achievementCtrl.closeEditingAchievement($event)"></achievement-card>
    <material-card ng-switch-default>
      <material-card-title>
        <material-card-title-text>
          <span class="material-headline" ng-bind="achievementCtrl.achievement.name"></span>
          <span class="material-subhead">Кол-во кармы: {{achievementCtrl.achievement.karma}}</span>
        </material-card-title-text>
        <material-card-title-media ng-if="achievementCtrl.achievement.icon">
          <div class="material-media-med">
            <img ng-src="data:image/png;base64,{{achievementCtrl.achievement.icon}}" alt=""/>
          </div>
        </material-card-title-media>
      </material-card-title>
      <material-card-content>
        <p ng-bind="achievementCtrl.achievement.description"></p>
      </material-card-content>
      <material-card-actions>
        <material-button class="material-icon-button"
                         title="Редактировать достижение"
                         ng-click="achievementCtrl.editAchievement()">
          <i class="material-icons">edit</i>
        </material-button>
        <material-button class="material-icon-button material-button--red"
                         title="Удалить достижение"
                         ng-click="achievementCtrl.deleteAchievement($event)">
          <i class="material-icons">delete</i>
        </material-button>
      </material-card-actions>
    </material-card>
  </div>
  <div class="achievement-users">
    <material-tabs>
      <input ng-repeat-start="(tabKey, tabInfo) in achievementCtrl.tabs track by tabKey"
             type="radio"
             name="tab"
             id="{{tabInfo.value}}"
             ng-value="tabInfo"
             ng-model="selectedTab"
             ng-change="achievementCtrl.selectTab(tabInfo)">
      <material-tab ng-repeat-end>
        <label class="material-tab-label" for="{{tabInfo.value}}" ng-bind="tabInfo.name"></label>
        <material-tab-content ng-if="selectedTab.value === tabInfo.value">
          <div class="achievement-users-card"
               ng-repeat="tabContentElm in filtered = (achievementCtrl.users | orderBy:'obj.date') track by tabContentElm.obj.id"
               ng-switch="tabContentElm.type">
            <div ng-switch-when="ACHIEVED">
              <material-card ng-if="tabContentElm.obj.user">
                <material-card-title>
                  <material-card-title-text>
                    <span class="material-headline" ng-bind="tabContentElm.obj.user.name"></span>
                    <span class="material-subhead"
                          ng-bind="tabContentElm.obj.date | date:'dd/MM/yyyy hh:mm:ss'"></span>
                  </material-card-title-text>
                  <material-card-title-media ng-if="tabContentElm.obj.user.photo">
                    <div class="material-media-med">
                      <img ng-src="data:image/png;base64,{{tabContentElm.obj.user.photo}}" alt=""/>
                    </div>
                  </material-card-title-media>
                </material-card-title>
                <material-card-content>
                  <p ng-bind="tabContentElm.obj.comment"></p>
                </material-card-content>
                <material-card-actions>
                  <material-button class="material-icon-button material-button&#45;&#45;yellow"
                                   title="Лишить пользователя достижения"
                                   ng-click="achievementCtrl.toggleAchievement(tabContentElm.obj, false)">
                    <i class="material-icons">star</i>
                  </material-button>
                  <material-button class="material-icon-button material-button&#45;&#45;green"
                                   title="Просмотреть информацию о пользователе"
                                   ng-click="achievementCtrl.goToUser(tabContentElm.obj.user.id)">
                    <i class="material-icons">info</i>
                  </material-button>
                </material-card-actions>
              </material-card>
            </div>
            <div ng-switch-when="OTHERS">
              <material-card ng-if="tabContentElm.obj">
                <material-card-title>
                  <material-card-title-text>
                    <span class="material-headline" ng-bind="tabContentElm.obj.name"></span>
                  </material-card-title-text>
                  <material-card-title-media ng-if="tabContentElm.obj.photo">
                    <div class="material-media-med">
                      <img ng-src="data:image/png;base64,{{tabContentElm.obj.photo}}" alt=""/>
                    </div>
                  </material-card-title-media>
                </material-card-title>
                <material-card-content>
                  <p ng-bind="tabContentElm.obj.bio"></p>
                </material-card-content>
                <material-card-actions>
                  <div class="comment-input" ng-if="tabContentElm.obj.userAchievement">
                    <form name="userAchievementForm">
                      <material-input-container>
                        <input required
                               ng-model="tabContentElm.obj.userAchievement.comment">
                        <label>Введите комментарий:</label>
                      </material-input-container>
                      <material-button class="material-icon-button material-button&#45;&#45;green"
                                       type="submit"
                                       ng-disabled="!userAchievementForm.$valid"
                                       title="Присвоить достижение"
                                       ng-click="achievementCtrl.saveUserAchievement(tabContentElm.obj.userAchievement)">
                        <i class="material-icons">done</i>
                      </material-button>
                      <material-button class="material-icon-button material-button&#45;&#45;red"
                                       type="reset"
                                       title="Отменить присвоение"
                                       ng-click="tabContentElm.obj.userAchievement = null">
                        <i class="material-icons">clear</i>
                      </material-button>
                    </form>
                  </div>
                  <material-button class="material-icon-button material-button&#45;&#45;yellow"
                                   title="Дать пользователю достижение"
                                   ng-if="!tabContentElm.obj.userAchievement"
                                   ng-click="achievementCtrl.toggleAchievement(tabContentElm.obj, true)">
                    <i class="material-icons">star_border</i>
                  </material-button>
                  <material-button class="material-icon-button material-button&#45;&#45;green"
                                   title="Просмотреть информацию о пользователе"
                                   ng-click="achievementCtrl.goToUser(tabContentElm.obj.id)">
                    <i class="material-icons">info</i>
                  </material-button>
                </material-card-actions>
              </material-card>
            </div>
          </div>
          <div class="empty-state" ng-if="!achievementCtrl.users.length">
            <h3 class="header">
              <i class="material-icons">error_outline</i>Нет награжденных пользователей
            </h3>
          </div>
        </material-tab-content>
      </material-tab>
      <div class="slide"></div>
    </material-tabs>
  </div>
</material-content>
