.entity {
  .entity-info {
    @include switching-cards-classes(".entity-info--active", ".entity-info--default");

    width: 100%;
  }

  .tab-entities {
    width: 100%;

    material-tab-content {
      display: flex;
      flex-direction: column;

      @media (min-width: $small-desktop-screen) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .tab-entities-card {
          width: 50%;
        }
      }

      .tab-entities-card {
        @include ng-repeat-animations;
      }
    }
  }
}

.comment-input {

}
