<material-toolbar>
  <div class="material-toolbar-tools">
    <material-button class="material-icon-button"
                     ng-click="mainCtrl.isSidenavOpen = !mainCtrl.isSidenavOpen">
      <i class="material-icons">menu</i>
    </material-button>
    <h2 class="flex">Achievement Board</h2>
  </div>
</material-toolbar>
<material-sidenav material-is-open="mainCtrl.isSidenavOpen">
  <ul>
    <li>
      <a material-button
         ui-sref=".users"
         ng-click="mainCtrl.isSidenavOpen = false">
        <i class="material-icons">group</i><b>Пользователи</b>
      </a>
    </li>
    <li>
      <a material-button
         ui-sref=".achievements"
         ng-click="mainCtrl.isSidenavOpen = false">
        <i class="material-icons">assignment</i><b>Достижения</b>
      </a>
    </li>
  </ul>
</material-sidenav>
<material-content>
  <view-wrapper view-name="'content'"></view-wrapper>
</material-content>
<loader-spinner></loader-spinner>
