.flex {
  display: flex;

  &-1 {
    flex: 1;
  }

  &-column {
    flex-direction: column;
    &-reverse {
      flex-direction: column-reverse;
    }
  }

  &-row {
    flex-direction: row;
    &-reverse {
      flex-direction: row-reverse;
    }
  }
}

* {
  box-sizing: border-box;
}

view-wrapper.main {
  > div.view {
    > material-toolbar {
      position: fixed;
      top: 0;
    }

    > material-content {
      overflow: auto;
      position: relative;
      top: $material-toolbar-height;
      height: calc(100% - #{$material-toolbar-height});
    }
  }

  .material-button {
    &--delete, [type="reset"] {
      &:hover {
        color: $color_red_normal;
      }
    }

    &--info, [type="submit"] {
      &:hover {
        color: $color-green_normal;
      }
    }
  }
}
